<html>

  <head>
    <title>BoxMe</title>

    </head>

  <body>

    <!-- <nav>
        <div class='nav'>
        <div class='menu-btn' id='menu-btn'>
        <div class='responsive-menu'>
          <span class='fui-list-columned expand-menu'></span>
        <div class='menu-container expand'>
          <a href='/'>Home</a>
          <a href='/admin'>Sign-Up</a>
          <a href='/sessions/log-in'>Log-In</a>
        </div>
    </nav>

</div>
</div> -->

      <ul class='brand-list' id='brand-list'>
      </ul>

      <button id='place-item'>
        Item
      </button>


    <!-- ****** JS Libraries ****** -->
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>

    <!-- ****** Bootstrap Thangs ****** -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"/>

    <!-- ****** Backbone Models ****** -->
    <script src='/javascripts/models/BrandModel.js'></script>

    <!-- ****** Backbone Collection ****** -->
    <script src='/javascripts/collections/BrandCollection.js'></script>

    <!-- ****** Backbone Views ****** -->
    <script src='/javascripts/views/BrandView.js'></script>
    <script src='/javascripts/views/GeneralListView.js'></script>

    <!-- ****** JS Application ****** -->
    <script src='/javascripts/app.js'></script>

  </body>

</html>
