<html>
  <head>
    <title>BoxMe</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>


    <ul class='interface-list' id='menu-list'>
    </ul>
    <ul class='interface-list' id='User-list'>
    </ul>


    <button id='place-Item'>
      Item
    </button>


    <!-- ****** JS Libraries ****** -->
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>

    <!-- ****** Backbone Models ****** -->
    <script src='/javascripts/models/BrandModel.js'></script>
    <script src='/javascripts/models/UserModel.js'></script>

    <!-- ****** Backbone Collection ****** -->
    <script src='/javascripts/collections/BrandCollection.js'></script>
    <script src='/javascripts/collections/UserCollection.js'></script>

    <!-- ****** Backbone Views ****** -->
    <script src='/javascripts/views/BrandView.js'></script>
    <script src='/javascripts/views/UserView.js'></script>
    <script src='/javascripts/views/GeneralListView.js'></script>

    <!-- ****** JS Application ****** -->
    <script src='/javascripts/app.js'></script>

  </body>
</html>
