<html>
  <head>
    <title>BoxMe</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <h2>Brand Admin</h2>

    <a href="/">Click here if user.</a>

    <form action="/sessions" method="post">
      <input type="text" name="Username" placeholder='username'>
      <input type="text" name="Password" placeholder='password'>
      <input type="submit" value="log-in">
    </form>

  </body>
</html>
