// Brand Defined Colours
 $asset-white: rgba(44, 62, 79, 1);
 $asset-ljhkjh: rgba(0, 0, 0, .85);
 $asset-dsa: rgba(0, 0, 0, .85);
 $asset-sda: rgba(0, 0, 0, .85);
 $asset-dsa: rgba(0, 0, 0, .85);
 $asset-wqree: rgba(0, 0, 0, .85);

 // Brand Defined Colours
 $first-font: 'Helvetica Neue Light', Helvetica;
 $second-font: 'Helvetica', Helvetica;


body{
  background-image: url('http://i.imgur.com/eXVaXpE.jpg');
  background-size:cover;
  background-attachment:fixed;
  }

#brand-list{
  background-color: $asset-white!important;
  list-style-type: none;
  padding: 15px 15px 15px 15px;
  }

#user-list{
  background-color: $asset-white!important;
  list-style-type: none;
  padding: 15px 15px 15px 15px;
  }

#place-item{
  background-color: $asset-white!important;
  list-style-type: none;
  padding: 15px 15px 15px 15px;
  }
