body{
    background-color: peachpuff;
  }

  #brand-list{
    background-color: red;
  }

  #user-list{
    background-color: pink;
  }

  #place-item{
    display: inline-block;
    border: 3px solid red;
  }
  
